<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>it</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>net.mrciarlatano.ia-writer.template.articolo</string>
	<key>CFBundleName</key>
	<string>Articolo</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>11</string>
	<key>IATemplateDocumentFile</key>
	<string>document</string>
	<key>IATemplateHeaderFile</key>
	<string>header</string>
	<key>IATemplateFooterFile</key>
	<string>footer</string>
	<key>IATemplateFooterHeight</key>
	<integer>85</integer>
	<key>IATemplateHeaderHeight</key>
	<integer>85</integer>
	<key>IATemplateDescription</key>
	<string>Articolo scientifico in italiano, in stile arXiv: A4 con margini di 3 cm, Source Serif 4, sillabazione italiana, numero di pagina in basso. Campi facoltativi: riga «Autore:» sotto il titolo e riassunto con «Abstract:» o titolo Abstract.</string>
	<key>IATemplateAuthor</key>
	<string>mrciarlatano</string>
	<key>IATemplateAuthorURL</key>
	<string>https://github.com/mrciarlatano</string>
</dict>
</plist>
